<input class="form-control" type="text" [formControl]="title">
<button class="btn btn-info" (click)="search()">Reserve</button>
<table class="table" border="2">
    <tr>

        <th>title</th>
        <th>id Artist</th>
        <th>date</th>
        <th>Location</th>
    </tr>
    <tr *ngFor="let p of showList ">
        <ng-container>
            <td>{{p.title}}</td>
            <td>{{p.artistId}}</td>
            <td>{{p.date}}</td>
            <td>{{p.location}}</td>
            <td><button class="btn btn-info" [routerLink]="['/reservation',p.id]">Reserve</button></td>
        </ng-container>
    </tr>
</table>
<td><button class="btn btn-info" (click)="calculerNbrRes()">Calculer nombre de place reserver</button></td>
<p *ngIf="this.listPlaceReserver != 0">le nombre de place reserver est : {{this.listPlaceReserver}}</p>