<form class="form-group" [formGroup]="FormAddShow">
    <label>Title</label>
    <input class="form-control" type="text" formControlName="title">


    <div *ngIf="this.FormAddShow.controls['title'].invalid && this.FormAddShow.controls['title'].touched "
        class="alert alert-danger ">
        <p *ngIf="this.FormAddShow.controls['title'].hasError('required')">titre est obligatoire</p>
        <p *ngIf="this.FormAddShow.controls['title'].hasError('minlength')">titre doit etre superieure à 3 </p>
    </div>

    <label>Date</label>
    <input class=" form-control " type="date" formControlName="date">

    <div *ngIf="this.FormAddShow.controls['date'].invalid && this.FormAddShow.controls['date'].touched "
        class="alert alert-danger ">
        <p *ngIf="this.FormAddShow.controls['date'].hasError('required')">date est obligatoire</p>
    </div>

    <label>Location</label>
    <input class="form-control " type="text" formControlName="location">

    <div *ngIf="this.FormAddShow.controls['location'].invalid && this.FormAddShow.controls['location'].touched "
        class="alert alert-danger ">
        <p *ngIf="this.FormAddShow.controls['location'].hasError('required')">location est obligatoire</p>
        <p *ngIf="this.FormAddShow.controls['location'].hasError('pattern')">Nom doit contenir que des lettres </p>
    </div>
    <br>
    <input class="btn btn-info " type="submit " value="save" (click)="addShow()" [routerLink]="'/listShow'"
        [disabled]="FormAddShow.invalid ">


</form>